/* Write CSS here */

* {
  margin: 0px;
}

.maindiv {
  height: 100vh;
}

.subdiv {
  padding: 100px;
}

.timeblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 310px;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0px 4px 40px rgba(23, 31, 70, 0.16);
}

button {
  color: white;
  border: 0px;
  padding: 5px;
  border-radius: 7px;
}
.startbutton {
  background-color: green;
}
.stopbutton {
  background-color: Red;
}
.resetbutton {
  background-color: Yellow;
}
.imgtime {
  display: flex;
}

.buttondiv {
  margin: 10px;
}
button {
  margin: 10px;
}
.para {
  margin-left: 10px;
}

@media (orientation: landscape) {
  .maindiv {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
    background-size: cover;
  }
}
